.root {
    background-color: #F6EBDA;
    padding: 20px;
}

.main-div {
    background-color: #FFFFFF;
    padding: 20px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    border: 0px solid black;
    border-radius: 10px;
    grid-auto-flow: column;
    grid-template-columns: 200px;
}

.profile-form {
    display: flex;
    flex-direction: row;
    gap: 10px;
    justify-items: center;
    align-items: center;
}

.main-profile {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 15px;
    padding: 10px;
    justify-items: center;
}

.left-profile {
    padding: 0px;
    margin: 0px;
}

.address-form {
    width: 100%;
}

.address-input {
    width: 100%;
    border: 1px solid black;
    border-radius: 15px;
}

.checkbox-form {
    display: flex;
    align-items: start;
    gap: 5px;
    width: 100%;
}

.left-main {
    padding: 20px;
    margin: auto;
    height: 200px;
    border: 0px solid black;
    width: 200px;
    text-align: center;
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.header-form {
    text-align: center;
    padding-bottom: 20px;
}

.profile-btn {
    color: FF902A;
}

.left-btn {
    color: #FC8F2A;
    background-color: #FFFFFF;
    border: 1px solid #FC8E29;
    border-radius: 10px;
    padding: 2px;
    font-weight: 500;
    font-size: 1rem;
}

.update-btn {
    display: flex;
    margin: auto;
    flex-direction: row;
    justify-content: center;
    padding-top: 40px;
    border-radius: 0px;
}

.save-btn {
    color: #FFFFFF;
    background-color: #FC8F2A;
    border: 1px solid #FC8F2A;
    padding: 2px;
    border-radius: 0;
}

.save-profile {
    padding: 0px;
}

.form-input {
    border: 1px solid black;
    border-radius: 15px;
}