.root {
    padding: 20px 50px;
    background-color: #F6EBDA;
}

.main-root {
    background-color: #FFFFFF;
    padding: 20px 50px 20px 20px;
    border: 0px solid black;
    border-radius: 20px;
}

.detail-img {
    margin-top: auto;
    margin-right: auto;
    margin-bottom: auto;
    text-align: center;
    padding-top: 20px;
}

.detail-text {
    padding-top: 20px;
}

.detail-header {}