.root {
    background-color: #F6EBDA;
    padding: 20px;
}

.main {
    text-align: center;
}

.Header {}

.hero {
    display: grid;
    padding: 1rem;
    align-items: center;
    justify-items: center;
    background-color: #FFFFFF;
    margin: 10px;
    border-radius: 20px;
    gap: 5px;
    grid-auto-flow: column;
    grid-template-columns: 1fr;
    grid-template-rows: auto;
    flex-direction: row;
}

.image {
    padding: 1rem;
}

.main-img {
    width: 15rem;
    height: 15rem;
}